* {
	margin: 0;
	padding: 0;
}

:root {
	font-size: 62.5%;
	--space-sm: 1.5rem;
	--space-med: 3rem;
	--space-lg: 8rem;
}

button {
	background-color: #d79a4b;
	border-radius: 3rem;
	border-style: none;
	font-size: 1.8rem;
	font-weight: bold;
	width: 12rem;
	height: 4rem;
	cursor: pointer;
}

nav {
	display: grid;
	gap: var(--space-lg);
	padding-left: var(--space-sm);
}

nav ol {
	display: grid;
	gap: var(--space-sm);
}

nav li {
	list-style-type: none;
}

nav a {
	color: inherit;
	text-decoration: none;
	display: grid;
	grid-template-columns: repeat(2, max-content);
	align-items: center;
	gap: var(--space-sm);
}

body {
	background-color: #252526;
	color: #ffffff;
	font-size: 1.8rem;
	display: grid;
	grid-template-columns: 1fr 8fr;
	grid-template-rows: 1fr 10fr;
}

.header {
	background-color: #333333;
	grid-column: 2 / 3;
	display: grid;
	grid-template-columns: 1fr max-content;
	grid-template-rows: min-content;
	align-items: center;
	gap: var(--space-med);
	padding: var(--space-sm) var(--space-med);
}

.search {
	display: grid;
	grid-template-columns: min-content 1fr;
	align-items: center;
	gap: var(--space-sm);
}

.search > label {
	height: 2.5rem;
}

#search_bar {
	border-radius: 15px;
	border-style: none;
	height: var(--space-med);
	padding-left: 1rem;
	padding-right: 0.4rem;
	font-size: 1.8rem;
}

.notification {
	justify-self: end;
	display: grid;
	grid-template-columns: repeat(3, max-content);
	align-items: center;
	gap: var(--space-sm);
}

.current-user-img-sm {
	width: 5rem;
	height: auto;
	border-radius: 5rem;
}

.current-user-name-med {
	font-size: 2.1rem;
	font-weight: bold;
}

.user-greeting {
	display: grid;
	grid-template-columns: max-content 1fr;
	align-items: center;
	gap: var(--space-sm);
}

.current-user-img-med {
	width: 8rem;
	height: auto;
	border-radius: 5rem;
}

.current-user-name-lg {
	font-size: 2.8rem;
	font-weight: bold;
}

.post-btns {
	display: grid;
	grid-template-columns: repeat(3, max-content);
	gap: var(--space-med);
}

.sidebar {
	background-color: #d79a4b;
	color: #000000;
	grid-column: 1 / 2;
	grid-row: 1 / -1;
	padding-top: var(--space-sm);
	padding-left: var(--space-sm);
	padding-right: var(--space-lg);
}

.logo {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	align-items: center;
	gap: var(--space-sm);
	padding-bottom: var(--space-med);
}

.main {
	background-color: #1e1e1e;
	grid-column: 2 / 3;
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding: var(--space-med) var(--space-med);
}

.icon-light {
	fill: #ffffff;
}

.icon-dark {
	fill: #000000;
}
